h1 {
    text-align: center;
    color: white;
    padding: 10px;
    font-family: fantasy;
    text-shadow: 1px 1px 2px pink, 0 0 25px green, 0 0 5px yellow;
    transform: rotate(-10deg);
}
   
 h2{
     text-align: center;
     color: white;
     font-family: fantasy;

    }
    
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

   
   }
  
  .box {
    color: white;
    font-size: large;
    margin: auto;
    width: 100%;
  }

  .box1{
      transform: rotate3d(50deg);
  }
  body {
    background-color: black;
  }
  a {
    color: white;
    text-decoration: none;
  }