
h2{
    color: white;

}

body {
    background-color: black
}  
img{
    align-content: center
}
    
.box{
    align-content: center;
    color:white;
    padding: 20px;
    background-image: url(\Game\img\shire.jpg);
    background-position: center;

}
